@{
    ViewBag.Title = SITEK.Resources.Resource.menu2;
}
<div class="page-banner" style="margin-top: 100px; background: url('../../Images/about-header.jpg') center; background-repeat: no-repeat; color: #fff">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #fff">@SITEK.Resources.Resource.aboutHeader1</h2>
                <p style="color: #fff">@SITEK.Resources.Resource.aboutHeader2</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li style="color: #fff">@Html.ActionLink(@SITEK.Resources.Resource.menu1, "Index", "Home")</li>
                    <li style="color: #fff">@SITEK.Resources.Resource.aboutHeader2</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-3">
                     <img src="~/Images/directors/kassym.jpg" style="padding:0px 10px 20px 10px; width: 100%; margin: 0 auto" />
                </div>
                <div class="col-md-6">
                    <h4 class="classic-title"><span>@SITEK.Resources.Resource.indWelcome1</span></h4>
                    <p><span>@SITEK.Resources.Resource.AboutMain1 <b><a href="http://lancasterholding.com/" target="_blank">Lancaster Group</a></b> @SITEK.Resources.Resource.AboutMainAnd <b><a href="http://sitie.it" target="_blank">SITIE Implanti Industriali </a></b> @SITEK.Resources.Resource.moreText6</span></p>
                    <p><b>@SITEK.Resources.Resource.aboutFounder1 <br> @SITEK.Resources.Resource.aboutFounder2</b></p>
                </div>
                <div class="col-md-3">
                     <img src="~/Images/directors/bonatti.jpg" style="padding:0px 10px 20px 10px; width: 100%; margin: 0 auto" />
                </div>
            </div>
            <div class="row" style="margin-top:35px;">
                <div class="col-md-4">
                    <h4 class="classic-title"><span>@SITEK.Resources.Resource.aboutHeader3</span></h4>
                    <p>@SITEK.Resources.Resource.AboutText1</p>
                    <p>@SITEK.Resources.Resource.AboutText2</p>
                    <p>@SITEK.Resources.Resource.AboutText3</p>
                    <p>@SITEK.Resources.Resource.AboutText4</p>
                </div>
                <div class="col-md-8">
                    <h4 class="classic-title"><span>@SITEK.Resources.Resource.aboutHeader4</span></h4>
                    <p>@SITEK.Resources.Resource.AboutText5</p>
                    <ul>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText61</strong> @SITEK.Resources.Resource.AboutText6</li>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText71</strong> @SITEK.Resources.Resource.AboutText7</li>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText81</strong> @SITEK.Resources.Resource.AboutText8</li>
                    </ul>
                    <h4 class="classic-title" style="margin-top:20px"><span>@SITEK.Resources.Resource.aboutHeader5</span></h4>
                    <p>@SITEK.Resources.Resource.AboutText9</p>
                    <ul>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText101</strong> @SITEK.Resources.Resource.AboutText10</li>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText111</strong> @SITEK.Resources.Resource.AboutText11</li>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText121</strong> @SITEK.Resources.Resource.AboutText12</li>
                        <li><strong class="accent-color">@SITEK.Resources.Resource.AboutText131</strong> @SITEK.Resources.Resource.AboutText13</li>
                    </ul>
                </div>

            </div>
            <div class="hr5" style="margin-top:30px; margin-bottom:35px;"></div>
            <div class="page-content">
                <div class="big-title text-center">
                    <h1><span class="accent-color"> @SITEK.Resources.Resource.aboutHeader6</span></h1>
                </div>
                <div class="hr1" style="margin-bottom:50px;"></div>
                <div class="our-clients">
                    <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture2.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture3.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture4.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture5.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture6.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture7.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture8.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture9.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture10.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture11.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture12.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture13.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture14.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture15.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture16.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture17.png" alt="" style="width:150px" /></a>
                        </div>
                        <div class="client-item item">
                            <a href="#"> <img src="~/Images/customers/Picture18.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
