
@{
    ViewBag.Title = SITEK.Resources.Resource.aboutTitle5;
}
<div class="row ServiceBanner" id="ServiceBanner">
    <div class="container">
        <div class="col-md-6 serviceHText">
            <div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
                 data-x="0"
                 data-y="125"
                 data-speed="300"
                 data-start="1600"
                 data-easing="easeOutExpo">
                <span class="accent-color">@SITEK.Resources.Resource.moreText1</span><br> @SITEK.Resources.Resource.moreText2
            </div>
            <div class="tp-caption medium_font_size regular_font_weight dark_font_color sfl start"
                 data-x="0"
                 data-y="208"
                 data-speed="300"
                 data-start="1900"
                 data-easing="easeOutExpo">
               @SITEK.Resources.Resource.moreText3
            </div>
            <div class="tp-caption mini_font_size light_font_weight gray_font_color sfr start"
                 data-x="0"
                 data-y="250"
                 data-speed="300"
                 data-start="2200"
                 data-easing="easeOutExpo">
                @SITEK.Resources.Resource.moreText4 <br />
            </div>
            <div class="tp-caption sfb start"
                 data-x="0"
                 data-y="314"
                 data-speed="300"
                 data-start="2500"
                 data-easing="easeOutExpo">
                <a href="tel:+77122272062" class="btn-system btn-medium">@SITEK.Resources.Resource.indWelcome211</a>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="big-title text-center">
            <h1><span class="accent-color"> @SITEK.Resources.Resource.moreText5</span></h1>
            <p class="title-desc">@SITEK.Resources.Resource.indWelcome2</p>
        </div>
        <div class="row">
            <a href="@Url.Action("Engineering", "Home")">
                <div class="col-md-4 service-box service-center">
                    <div class="service-boxed">
                        <div class="service-icon" style="margin-top:-25px;">
                            <i class="icon-cog-alt icon-medium-effect icon-effect-2"></i>
                        </div>
                        <div class="service-content">
                            <h4>@SITEK.Resources.Resource.textMore01</h4>
                            <p>@SITEK.Resources.Resource.textMore6</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Procurement", "Home")">
                <div class="col-md-4 service-box service-center">
                    <div class="service-boxed">
                        <div class="service-icon" style="margin-top:-25px;">
                            <i class="icon-thumbs-up-1 icon-medium-effect icon-effect-2"></i>
                        </div>
                        <div class="service-content">
                            <h4>@SITEK.Resources.Resource.textMore115</h4>
                            <p>@SITEK.Resources.Resource.ServicesProcure</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Construction", "Home")">
                <div class="col-md-4 service-box service-center">
                    <div class="service-boxed">
                        <div class="service-icon" style="margin-top:-25px;">
                            <i class="icon-building icon-medium-effect icon-effect-2"></i>
                        </div>
                        <div class="service-content">
                            <h4>@SITEK.Resources.Resource.moreText7</h4>
                            <p>@SITEK.Resources.Resource.moreText8</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="@Url.Action("MechCompletion", "Home")">
                <div class="col-md-4 service-box service-center">
                    <div class="service-boxed">
                        <div class="service-icon" style="margin-top:-25px;">
                            <i class="icon-check-2 icon-medium-effect icon-effect-2"></i>
                        </div>
                        <div class="service-content">
                            <h4>@SITEK.Resources.Resource.moreText9</h4>
                            <p>@SITEK.Resources.Resource.moreText10</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Maintenance", "Home")">
                <div class="col-md-4 service-box service-center">
                    <div class="service-boxed">
                        <div class="service-icon" style="margin-top:-25px;">
                            <i class="icon-wrench-2 icon-medium-effect icon-effect-2"></i>
                        </div>
                        <div class="service-content">
                            <h4>@SITEK.Resources.Resource.moreText11</h4>
                            <p>@SITEK.Resources.Resource.moreText12</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Training", "Home")">
                <div class="col-md-4 service-box service-center">
                    <div class="service-boxed">
                        <div class="service-icon" style="margin-top:-25px;">
                            <i class="icon-book-1 icon-medium-effect icon-effect-2"></i>
                        </div>
                        <div class="service-content">
                            <h4>@SITEK.Resources.Resource.moreText13</h4>
                            <p>@SITEK.Resources.Resource.moreText14</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row ServiceBanner" id="ServiceBanner2">
        <div class="container">
            <div class="col-md-6 serviceHText">
                <div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
                        data-x="0"
                        data-y="125"
                        data-speed="300"
                        data-start="1600"
                        data-easing="easeOutExpo">
                    <span class="accent-color">@SITEK.Resources.Resource.moreText15</span><br> @SITEK.Resources.Resource.moreText16
                </div>
                <div class="tp-caption medium_font_size regular_font_weight dark_font_color sfl start"
                        data-x="0"
                        data-y="208"
                        data-speed="300"
                        data-start="1900"
                        data-easing="easeOutExpo">
                    @SITEK.Resources.Resource.moreText17
                </div>
                <div class="tp-caption mini_font_size light_font_weight gray_font_color sfr start"
                        data-x="0"
                        data-y="250"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeOutExpo">
                    @SITEK.Resources.Resource.moreText18
                </div>
                <div class="tp-caption sfb start"
                        data-x="0"
                        data-y="314"
                        data-speed="300"
                        data-start="2500"
                        data-easing="easeOutExpo">
                    <a href="tel:+77122272062" class="btn-system btn-medium">@SITEK.Resources.Resource.indWelcome211</a>
                </div>
            </div>
        </div>
      
    </div>
    <div class="container">
        <div class="hr1" style="margin-top:25px; margin-bottom:25px;"></div>
        <div class="recent-projects">
            <h4 class="title"><span>@SITEK.Resources.Resource.aboutMore23</span></h4>
            <div class="projects-carousel touch-carousel">
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_Castoro1216-(1).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>Castoro12 and Castoro16 <br> refurbishment barge</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore30</span> <br>
                                <span><b> @SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore28</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_ErsaiZhambyl-(2).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore36 <br> @SITEK.Resources.Resource.aboutMore37</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore29</span> <br>
                                <span><b> @SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore28</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj-_Maersk-NEW-wellhead-K&L.jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore38<br>@SITEK.Resources.Resource.aboutMore39</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore31</span> <br>
                                <span><b> @SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore32</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_JUDR-(1).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore40<br> @SITEK.Resources.Resource.aboutMore41</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore33</span> <br>
                                <span><b> @SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore28</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_ErsaiZhambyl-(1).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore42 <br> @SITEK.Resources.Resource.aboutMore43</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b>@SITEK.Resources.Resource.aboutMore29</span> <br>
                                <span><b> @SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore28 </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_JUDR-(2).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore40<br> @SITEK.Resources.Resource.aboutMore41</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore33</span> <br>
                                <span><b> @SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore28</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_ErsaiZhambyl-(3).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore44</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore29</span> <br>
                                <span><b>@SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore28 </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-border">
                        <div class="portfolio-thumb">
                            <a href="@Url.Action("Projects", "Home")">
                                <div class="thumb-overlay"></div>
                                <img src="~/Images/projects-mini/Proj_KarabatOnShECPMaintPh1-(1).jpg" />
                            </a>
                        </div>
                        <div class="portfolio-details">
                            <a href="@Url.Action("Projects", "Home")">
                                <h4>@SITEK.Resources.Resource.aboutMore45</h4>
                                <span><b>@SITEK.Resources.Resource.aboutMore26</b> @SITEK.Resources.Resource.aboutMore35</span> <br>
                                <span><b>@SITEK.Resources.Resource.aboutMore27</b> @SITEK.Resources.Resource.aboutMore34</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
