@{
    ViewBag.Title = SITEK.Resources.Resource.aboutTitle2;
}
<div class="page-banner" style="margin-top: 98px; padding: 40px 0; background: url('../../Images/hseq-header.jpg') center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #fff">@SITEK.Resources.Resource.textMore30</h2>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li style="color: #fff"><a href="#">@SITEK.Resources.Resource.menu1</a></li>
                    <li style="color: #fff">@SITEK.Resources.Resource.menu9</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="classic-title"><span>@SITEK.Resources.Resource.textMore31</span></h4>
                <p>@SITEK.Resources.Resource.textMore32</p>
                <p>@SITEK.Resources.Resource.textMore33</p>
                <p>@SITEK.Resources.Resource.textMore34</p>
                <ul style="list-style-type: circle; padding-left: 30px;">
                    <li>@SITEK.Resources.Resource.textMore35</li>
                    <li>@SITEK.Resources.Resource.textMore36</li>
                    <li>@SITEK.Resources.Resource.textMore37</li>
                    <li>@SITEK.Resources.Resource.textMore38</li>
                    <li>@SITEK.Resources.Resource.textMore39</li>
                    <li>@SITEK.Resources.Resource.textMore40</li>
                </ul>
            </div>
            <div class="portfolio-item col-md-4">
                <div class="portfolio-thumb">
                    <a target="_blank" class="lightbox" title="Download corporate policy" href="~/Documents/hsepolicyeng.pdf">
                        <div class="thumb-overlay"><i class="icon-download-3"></i></div>
                        <img src="~/Images/hseq-download.jpg" />
                    </a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!-- New section -->
        <div class="row">
            <div class="portfolio-item col-md-4">
                <div class="portfolio-thumb">
                    <a target="_blank" class="lightbox" title="Download corporate policy" href="@SITEK.Resources.Resource.textNewPDF">
                        <div class="thumb-overlay"><i class="icon-download-3"></i></div>
                        <img src="@SITEK.Resources.Resource.textNewImg" />
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <h4 class="classic-title"><span>@SITEK.Resources.Resource.textNewTitle</span></h4>
                <p>@SITEK.Resources.Resource.textNew1</p><br />
                <p>@SITEK.Resources.Resource.textNew2</p><br />
                <p>@SITEK.Resources.Resource.textNew3 <b><a target="_blank" class="lightbox" title="Download corporate policy" href="@SITEK.Resources.Resource.textNewPDF">@SITEK.Resources.Resource.textNewLink</a></b></p>
                <br />
                <p>@SITEK.Resources.Resource.textNew4</p>
            </div>
        </div>
        <br />
        <br />
        <!-- New section -->

        <div class="col-md-12">
            <h4 class="classic-title"><span>@SITEK.Resources.Resource.textEventTitle</span></h4>
        </div>
        <div class="row">
            <div class="portfolio-item col-md-4">
                <div class="portfolio-thumb">
                    <a target="_blank" class="lightbox" title="Sitek Teambuilding Event" href="~/Images/sitek-event-1.jpg">
                        <div class="thumb-overlay"><i class="icon-eye"></i></div>
                        <img src="~/Images/sitek-event-1-mini.jpg" />
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-4">
                <div class="portfolio-thumb">
                    <a target="_blank" class="lightbox" title="Sitek Teambuilding Event" href="~/Images/sitek-event-2.jpg">
                        <div class="thumb-overlay"><i class="icon-eye"></i></div>
                        <img src="~/Images/sitek-event-2-mini.jpg" />
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-4">
                <div class="portfolio-thumb">
                    <a target="_blank" class="lightbox" title="Sitek Teambuilding Event" href="~/Images/sitek-event-3.jpg">
                        <div class="thumb-overlay"><i class="icon-eye"></i></div>
                        <img src="~/Images/sitek-event-3-mini.jpg" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>@SITEK.Resources.Resource.textEventCity @SITEK.Resources.Resource.textEventDate</p>
        </div>
    </div>
</div>

<div class="row" id="hsebanner">
    <h1 class="text-center uppercase" style="padding: 70px 0px 5px 0px; color: #fff; text-shadow: 0px 1px 4px #222;">@SITEK.Resources.Resource.HseBanner</h1>
    <div class="hr5" style="margin-top:5px; margin-left: 30%; margin-right: 30%; margin-bottom:330px; background-color: #fff"></div>
</div>

<div id="content">
    <div class="container">
        <div class="row portfolio-page">
            <div class="big-title text-center">
                <h1><span class="accent-color">@SITEK.Resources.Resource.textMore41</span></h1>
                <div class="hr5" style="margin-top:30px; margin-bottom:35px;"></div>
            </div>
            <div class="portfolio-filter row" id="portfolio-filter2">
                <ul>
                    <li><b><a href="#" class="selected" data-filter="*">@SITEK.Resources.Resource.textMore42</a></b></li>
                    <li><a href="#" data-filter=".con">@SITEK.Resources.Resource.textMore43</a></li>
                    <li><a href="#" data-filter=".acc">@SITEK.Resources.Resource.textMore44</a></li>
                    <li><a href="#" data-filter=".qua">@SITEK.Resources.Resource.textMore45</a></li>
                    <li><a href="#" data-filter=".tra">@SITEK.Resources.Resource.textMore46</a></li>
                </ul>
            </div>
        </div>
        <div id="portfolio" class="portfolio-4 row">
            <div class="portfolio-item con col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/2.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/2.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item qua col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/4.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/4.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item con col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/1.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item qua col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/5.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/5.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item tra col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/3.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/3.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item qua col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/7.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/7.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item acc col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/6.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/6.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item qua col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/8.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/8.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item acc col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/9.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/9.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-item acc col-md-4">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a class="lightbox" title="SITEK Certificate" href="~/Images/certificates/10.jpg">
                            <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                            <img alt="" src="~/Images/certificates/10-1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
